<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Hero Vault'}) %>
<body>
  <%- include('partials/header') %>
  <section>
    <ul>
      <% categories.forEach(category => { %>
        <li>
          <a href="/categories/<%= category.category_id %>">
            <%= category.name %>
          </a>
        </li>
      <% }); %>
    </ul>
  </section>
  <%- include('partials/footer') %>
</body>
</html>