<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Hero Vault'}) %>
<body>
  <%- include('partials/header') %>
  <main class="main">
    <div class="main-container">
      <section>
        <ul class="main-list">
          <% categories.forEach(category => { %>
            <li>
              <a href="/categories/<%= category.category_id %>" class="main-link">
                <%= category.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      
      </section>
      <div class="menu">
        <div id="newCategoryDiv">
          <button id="newCategoryBtn">New Category</button>
        </div>
        <a href="/" class="main-link back-link">Back</a>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>
  <script src="/scripts/script.js"></script>
</body>
</html>