<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Hero Vault'}) %>

<body>
  <%- include('partials/header') %>
  <main class="main">
    <div class="main-container">
      <section class="main-section">
        <ul class="main-list">
          <% categories.forEach(category => { %>
          <li class="main-link" id="category-<%= category.category_id %>">
            <a href="/categories/<%= category.category_id %>">
              <%= category.category_name %>
            </a>
            <div class="edit-menu">
              <button type="button" class="icon-btn" onclick="showEditForm(<%= category.category_id %>, '<%= category.category_name %>')">
                <i class="fas fa-edit"></i>
              </button>
              <form action="/categories/<%= category.category_id %>/delete" method="POST">
                <button type="submit" class="icon-btn" onclick="return confirm('Are you sure you want to delete this category?')">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </li>
          <% }); %>
        </ul>

      </section>
      <div class="menu">
        <div id="newCategoryDiv">
          <button id="newCategoryBtn" class="new-btn main-link">New Category</button>
        </div>
        <a href="/" class="main-link back-link">Back</a>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>
  <script src="/scripts/categories.js"></script>
</body>

</html>