<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Hero Vault'}) %>
<body>
  <%- include('partials/header') %>
  <section>
    <ul>
      <% heroes.forEach(hero => { %>
        <li>
          <a href="/categories/<%= category_id %>/<%= hero.hero_id %>">
            <%= hero.name %>
          </a>
        </li>
      <% }); %>
    </ul>
  </section>
  <div>
    <a href="/newHero">Add new Hero</a>
    <a href="/categories">Back</a>
  </div>
  
  <%- include('partials/footer') %>
</body>
</html>