<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Hero Vault'}) %>

<body>
  <%- include('partials/header') %>
  <main class="main">
    <div class="main-container">
      <section class="main-section">
        <ul class="main-list">
          <% heroes.forEach(hero => { %>
          <li class="main-link">
            <a href="/categories/<%= category_id %>/<%= hero.hero_id %>">
              <%= hero.name %>
            </a>
            <div class="edit-menu">
              <a href="/categories/<%= category_id %>/<%= hero.hero_id %>/editHero" class="icon-btn">
                <i class="fas fa-edit"></i>
              </a>
              </a>
              <form action="/categories/<%= category_id %>/<%= hero.hero_id %>/delete" method="POST" onclick="return confirm('Are you sure you want to delete this hero?')">
                <button type="submit" class="icon-btn">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </li>
          <% }); %>
        </ul>
      </section>
      <div class="menu">
        <a href="/categories/<%= category_id %>/newHero" class="main-link new-btn">Add new Hero</a>
        <a href="/categories" class="main-link back-link">Back</a>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>

</html>