<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Hero Vault'}) %>
<body>
  <%- include('partials/header') %>
  <main class="main">
    <div class="main-container">
      <section>
        <ul>
          <% heroes.forEach(hero => { %>
            <li>
              <a href="/categories/<%= category_id %>/<%= hero.hero_id %>">
                <%= hero.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </section>
      <div>
        <a href="/categories/<%= category_id %>/newHero">Add new Hero</a>
        <a href="/categories">Back</a>
      </div>
    </div>
  </main>
  
  <%- include('partials/footer') %>
</body>
</html>