<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Hero Vault'}) %>

<body>
  <%- include('partials/header') %>
  <main class="main">
    <div class="main-container">
      <section>
        <h1><%= hero.name %></h1>
        <% if(hero.real_name) { %>
          <p>Real Name: <%= hero.real_name %></p>
        <% } %>
        <p>Alignment: <%= hero.alignment %></p>
        <% if(hero.powers && hero.powers.some(power => power.trim() !== (''))) { %>
          <p>Powers: <%= hero.powers.join(', ') %></p>
        <% } %>
        <% if(hero.weaknesses && hero.weaknesses.some(weaknesses => weaknesses.trim() !== (''))) {%>
          <p>Weaknesses: <%= hero.weaknesses.join(', ') %></p>
        <% } %>
        <% if(hero.character_traits && hero.character_traits.some(characterTrait => characterTrait.trim() !== (''))) {%>
          <p>Character Traits: <%= hero.character_traits.join(', ') %></p>
        <% } %>
        <% if(hero.first_appearance) {%>
          <p>First Appearance: <%= hero.first_appearance %></p>
        <% } %>
      </section>
      <a href="/categories/<%= categoryId %>">Back</a>
    </div>
  </main>
  
  <%- include('partials/footer') %>
  
</body>

</html>