<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Hero Vault'}) %>

<body>
  <%- include('partials/header') %>
  <main class="main">
    <div class="main-container">
      <section class="main-section">
        <div class="hero-container">
          <h1><%= hero.name %></h1>
          <% if(hero.real_name) { %>
            <div class="hero-info">
              <h4 class="hero-info-title">Real Name: </h4>
              <p class="hero-info-value"> <%= hero.real_name %></p>
            </div>
          <% } %>
          <div class="hero-info">
            <h4 class="hero-info-title">Alignment: </h4>
            <p class="hero-info-value"><%= hero.alignment %></p>
          </div>
          <% if(hero.powers && hero.powers.some(power => power.trim() !== (''))) { %>
            <div class="hero-info">
              <h4 class="hero-info-title">Powers: </h4>
              <p class="hero-info-value"> <%= hero.powers.join(', ') %></p>
            </div>
          <% } %>
          <% if(hero.weaknesses && hero.weaknesses.some(weaknesses => weaknesses.trim() !== (''))) {%>
            <div class="hero-info">
              <h4 class="hero-info-title">Weaknesses: </h4>
              <p class="hero-info-value"><%= hero.weaknesses.join(', ') %></p>
            </div>
          <% } %>
          <% if(hero.character_traits && hero.character_traits.some(characterTrait => characterTrait.trim() !== (''))) {%>
            <div class="hero-info">
              <h4 class="hero-info-title">Character traits: </h4>
              <p class="hero-info-value"><%= hero.character_traits.join(', ') %></p>
            </div>
          <% } %>
          <% if(hero.first_appearance) {%>
            <div class="hero-info">
              <h4 class="hero-info-title">First Appearance: </h4>
              <p class="hero-info-value"><%= hero.first_appearance %></p>
            </div>
          <% } %>
        </div>
      </section>
      <a href="/categories/<%= categoryId %>" class="main-btn back-btn">Back</a>
    </div>
  </main>
  
  <%- include('partials/footer') %>
  
</body>

</html>